<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello</h1>
<form action="/note/create" method="post">
    <input type="text" name="title">
    <input type="text" name="content">
    <button type="submit">Create note</button>
</form>
<ul>
    <li th:each="note: ${listNotes}">
        <span th:text="${note.title}"></span>
        <span th:text="${note.content}"></span>
        <form action="/note/delete" method="post">
            <input type="hidden" name="id" th:value="${note.id}" />
            <button type="submit">Delete</button>
        </form>
        <form th:action="${'/note/edit?id='+note.id}" method="get">
            <input type="hidden" name="id" th:value="${note.id}" />
            <button type="submit">Edit</button>
        </form>
    </li>
</ul>

</body>
</html>